.media{
    background-color: #173460;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 24px 0;
    color: white;
}
.media-wrap{

}
.media-wrapper{
    background-color: #173460;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 24px 0;
    color: white;
}

.page-tittle-media{
    color: #6e6c6c;
}
/*CARD*/
.photo-card{
color: white;
    position: relative;
    margin: 18px 0;
    cursor: pointer;

}
.photo-card:before{
    position: absolute;
    content: '';
    border-top: 8px solid rgba(253, 252, 252, 0.7);
    opacity: .9;
    left: 3%;
    width: 86%;
    height: 100%;
    z-index: 78;
    bottom: 7px;
    transition: ease-in .34s;
}
.photo-card:after{
    bottom: 12px;
    left: 6%;
    position: absolute;
    content: '';
    border-top: 13px solid rgba(253, 252, 252, 0.6);
    opacity: .6;
    z-index: 78;
    width: 80%;
    height: 100%;
    transition: ease-in .34s;
}
.photo-card:hover:before{
    width: 80%;
    left: 6%;
    transition: ease-in .34s;
    border-top: 10px solid rgba(253, 252, 252, 0.6);
    bottom: 10px;
}

.photo-card:hover:after{
    border-top: 16px solid rgba(253, 252, 252, 0.6);
    bottom: 15px;
    width: 75%;
    left: 8.5%;
    transition: ease-in .34s;
}
.photo-card:hover .media-image-grad {
    transition: ease-in .34s;
    opacity: .16;
    /*box-shadow: 0 10px  15px rgba(253, 252, 252, 0.3);*/
}
.photo-card:hover > div {
    color: white;

}
.media-image{

}
.media-image-grad{
    transition: ease-in .34s;
    z-index: 90;
    width: 400px;
    height: 100%;
    position: absolute;
    opacity: .54;
    background: linear-gradient(45deg, black, #C5DDE8);
}
.media-all{
    z-index: 92;
  position: absolute;
    top: 27px;
    left: 35px;
    font-weight: 600;
    font-size: 14px;
}.media-all span{
     margin-right: 6px;
}
.media-date{
    z-index: 92;
    font-size: 13px;
    font-weight: 500;
  position: absolute;
    top: 27px;
    right: 70px;
}
.media-title{
    z-index: 92;
  position: absolute;
    bottom: 26px;
    left: 35px;
    font-weight: 600;
    font-size: 18px;
    width: 80%;
}
