
.news-wrap {
    background-image: url("https://sun9-82.userapi.com/impf/E1rPwtmZUC7f5PlwZmVgCixCo_lRVrskNCYKhQ/vAtcCVkhgdo.jpg?size=1280x853&quality=95&sign=86828e693f7de37c9dd3398768691ee3&type=album");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px 0;
    height: 100%;
}


.carousel-news {
    padding:0 150px 0 120px;
}

.Card-news {
    margin-left: 30px;
}


.page-tittle {
    color: white;
    font-size: 25px;
}

.all-news {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;

}

.all-news:hover {
    color: white;

}

.all-news:hover > span { /*стиль для всех span - прямых наследников div */
    transform: translateX(8px);
    transition: ease .2s;
}

.all-news span {
    margin-left: 5px;
    transition: ease .2s;
}


.carousel-back {
    padding: 14px 20px;
    background-color: #173460;
    opacity: .8;
    color: white;
    position: absolute;
    bottom: 0;
}

.carousel-img {
    /*    background-image: url("https://sun9-13.userapi.com/impg/cKIB1tl53nH9XOjQOCWSbhzVdTVcY_chgBGWdg/2twkVi-aUII.jpg?size=1280x837&quality=96&sign=b9599ef2eccd1f3e753ae3a91b9d2088&type=album ");*/
    /*background-repeat: no-repeat;*/

    /*width: 100%;*/
    /*height: 100%;*/

}

.carousel-caption {
    display: flex;
    justify-content: center;
    top: 1.25rem !important;
    color: #f8f8f8;
}

.carousel-indicators {
}


button.active {
    /*background-color: #173460 !important;*/
}



