.partners{
    background: #1c252b;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 24px 0 0 0;
}
.cover{
    width: 115px;

    object-fit: contain;
}

.page-tittle-partners{
    text-align: center;
    color: #6e6c6c;
    font-size: 24px;
}
.sponsor-item{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
}

.sponsors-pro{
    color: rgba(0, 0, 0, 0.9);
    font-size: 24px;
    margin: 40px 0;
    max-width: 100px;
}
.to-top{
    width: 100%;
    padding: 15px 0 ;
    border-top: 1px solid #4f5050;
    border-bottom: 1px solid #4f5050;
    color:  #4f5050;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-transform: uppercase;
    transition: linear .2s;
}
.to-top span{
    margin: 0 8px;
}
.to-top:hover{
    transition: linear .2s;
background-color: #1d2433;
}
@media screen and (max-width: 576px){
    .sponsors-banner{
        width: 100px;
        height: 100px;
    }
}