html, body, #root {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;

}
.App{
    height: 100%;
    /*overflow: hidden;*/
}
::-webkit-scrollbar{
    width: 9px;
    background-color: rgba(0, 0, 0, 0.6);
}
::-webkit-scrollbar-thumb{
    width: 9px;
    background-color: #9cb1be;
}

#root {
    width: 100%;
    margin: 0;
    display: flex;
}

h3{
    color: white;
 }
