.playerIn-wrap{
    width: 100%;
    height: 100%;
}
.back-stack {
    width: 17%;
    text-decoration: none;
    color: #173460;
}
.back-stack:hover{
     opacity: .7;
     color: #173460;
 }

.top-info-playerIn {
    width: 296px;
    height: 320px;
    transition: ease .3s;
display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
position: relative;
}
.playerIn-data >div{
    margin-bottom: 15px;
    margin-left: 14px;
}

/*.top-info-playerIn:hover {*/
/*    transition: ease .3s;*/
/*    transform: translateY(-8px);*/
/*}*/

/*.playerIn-img {*/
/*    opacity: .5;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    transition: ease .3s;*/
/*}*/

/*.playerIn-img:hover {*/
/*    opacity: .78;*/
/*    transition: ease .3s;*/
/*}*/

.playerIn-img-main {
    width: 290px;
    height: 290px;
    border-radius: 50%;
    position: absolute;
    top: 0;
}

.playerIn-name {
    display: flex;
    justify-content: center;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    line-height: 1.2;
    align-items: center;
    color: #1b1b1b;
    font-size: 33px;
    font-weight: 700;
    bottom: 12px;
}

.playerIn-position {
    color: #4f4f4f;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.playerIn-number {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    color: #173460;
    font-size: 32px;
    font-weight: 600;
    background-color: white;
    border-radius: 50%;

}
.playerIn-data{
    color: #1b1b1b;
    font-size: 14px;
    font-weight: 600;
}
.playerIn-data p{
    color: #4f4f4f;
    font-size: 36px;
    font-weight: 800;
    font-style: italic;
}
@media screen and (max-width: 576px){
    .playerIn-img-main {
        width: 240px;
        height: 240px;
    }
    .playerIn-number {
        bottom: 45px;
    }
    .back-stack {
        width: 70%;
    }
    .show-close{
        font-size: 13px!important;
    }
    .regular-statist{
        flex-wrap: wrap;
    }
    .playerIn-data p{
        font-size: 28px;
    }.playerIn-data {
        font-size: 13px;
    }
    .playerIn-name {
        font-size: 29px;
    }
}